In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data_Clean/balikpapan_clean.csv')

In [3]:
df

,harga,lokasi,luas_bangunan,luas_tanah,sertifikat,furnish,kamar_tidur,kamar_mandi,listrik,lantai
0,1650000,Balikpapan Selatan,180.0,141,SHM,Unfurnished,4,3,2200,2
1,2100000,Balikpapan Selatan,50.0,776,SHM,Unfurnished,3,1,900,1
2,1950000,Balikpapan Utara,139.7,206,SHM,Unfurnished,5,2,2200,1
3,1180000,Balikpapan Utara,47.0,78,SHM,Semi-furnished,2,2,1300,1
4,2500000,Balikpapan Baru,160.0,169,HGB,Unfurnished,4,3,4400,1
...,...,...,...,...,...,...,...,...,...,...
1569,500000,Balikpapan Selatan,42.0,84,HGB,Furnished,2,1,1300,1
1570,807000,Balikpapan Selatan,50.0,90,HGB,Unfurnished,3,2,2200,1
1571,480000,Balikpapan Selatan,48.0,72,SHM,Unfurnished,2,1,1300,1
1572,8500000,Balikpapan Baru,380.0,520,SHM,Unfurnished,4,2,6600,1
1573,975000,Balikpapan Selatan,100.0,163,SHM,Unfurnished,4,2,1300,1

In [4]:
df['lokasi'].unique()

array(['Balikpapan Selatan', 'Balikpapan Utara', 'Balikpapan Baru',
       'Damai', 'Karang Rejo', 'Sepinggan', 'Gunung Bahagia',
       'Balikpapan Tengah', 'Balikpapan Timur', 'Batu Ampar',
       'Balikpapan Barat', 'Muara Rapak', 'Lamaru', 'Telaga Sari',
       'Manggar', 'Karang Jati', 'Kariangau', 'Gn. Samarinda',
       'Sumber Rejo', 'Klandasan Ulu', 'Klandasan Ilir', 'Prapatan',
       'Batakan', 'Gn. Sari Ilir', 'Balikpapan Kota'], dtype=object)

In [5]:
# Daftar kelurahan untuk setiap kecamatan berdasarkan data unik yang ada
Balikpapan_Timur = ['Balikpapan Timur', 'Lamaru', 'Manggar', 'Batakan']
Balikpapan_Barat = ['Balikpapan Barat', 'Kariangau']
Balikpapan_Utara = ['Balikpapan Utara', 'Batu Ampar', 'Muara Rapak', 'Gn. Samarinda']
Balikpapan_Kota = ['Telaga Sari', 'Klandasan Ilir', 'Klandasan Ulu', 'Prapatan']

# Filter the DataFrame for each kecamatan
df_timur = df[df['lokasi'].isin(Balikpapan_Timur)]
df_barat = df[df['lokasi'].isin(Balikpapan_Barat)]
df_utara = df[df['lokasi'].isin(Balikpapan_Utara)]
df_kota = df[df['lokasi'].isin(Balikpapan_Kota)]

# Display the number of entries in each DataFrame
len(df_timur), len(df_barat), len(df_utara), len(df_kota)

(74, 16, 417, 4)

In [6]:
# Save each DataFrame to a separate CSV file if needed
df_timur.to_csv('../Data_Clean/balikpapan_timur.csv', index=False)
df_barat.to_csv('../Data_Clean/balikpapan_barat.csv', index=False)
df_utara.to_csv('../Data_Clean/balikpapan_utara.csv', index=False)
df_kota.to_csv('../Data_Clean/balikpapan_kota.csv', index=False)